<label>Server Name</label>
<!--<input type="text"-->
<!--       class="formcontrol"-->
<!--       (input)="onpdateServerName($event)"-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer"(click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>

<hr>

<input
  type="text"
  class="form-control"
  [(ngModel)]="username"
>
<p>Your username is: {{ username }}</p>
<button class="btn btn-basic" [disabled]="usernameEmpty()"(click)="clearUsername()">Clear Username</button>
